{% extends "~layout/landing.njk" %}

{% block navigation %}
    {% include "~layout/navigation/fixed-top.njk" %}
{% endblock %}

{% block content %}
    {% include "~alt1/heading.njk" %}
    {% include "~alt1/features.njk" %}
    {% include "~alt1/twin-mockups.njk" %}

    {% include "~alt3/features/features.njk" %}
    {% include "~alt3/powered-design.njk" %}
    {% include "~alt3/speech-bubbles.njk" %}

    {% include "~sections/pricing/3-plans-year-month.njk" %}
    {% include "~sections/shared/integration.njk" %}
    {% include "~sections/shared/why-choose-us.njk" %}
    {% include "~sections/shared/faqs.njk" %}
    {% include "~alt3/start-free.njk" %}
    {% include "~sections/forms/subscribe-box.njk" %}
{% endblock %}

{% block footer %}
    {% include "~layout/footer/default.njk" %}
{% endblock %}
