{% extends "~layout/landing.njk" %}

{% block navigation %}
    {% set section = { useOnlyDarkLogo: true } %}
    {% include "~layout/navigation/fixed-top.njk" %}
{% endblock %}

{% block content %}
    {% include "~alt2/heading.njk" %}
    {% include "~alt2/partners.njk" %}
    {% include "~alt2/features.njk" %}

    {% include "~alt3/powered-design.njk" %}
    {% include "~alt3/speech-bubbles.njk" %}

    {% include "~sections/pricing/3-plans-year-month.njk" %}
    {% include "~sections/shared/integration.njk" %}
    {% include "~sections/shared/why-choose-us.njk" %}
    {% include "~sections/shared/faqs.njk" %}
    {% include "~alt3/start-free.njk" %}
    {% include "~sections/shared/info-bottom.njk" %}
{% endblock %}

{% block footer %}
    {% include "~layout/footer/default.njk" %}
{% endblock %}
