{% extends "~layout/landing.njk" %}

{% block content %}
    {% include "~demo/heading.njk" %}
    {% include "~demo/color-palette.njk" %}
    {% include "~demo/selection.njk" %}
    {% include "~demo/why.njk" %}
    {% include "~demo/not-what-you-need.njk" %}
    {% include "~demo/cta.njk" %}
{% endblock %}

{% block footer %}
    {% include "~demo/footer.njk" %}
{% endblock %}
