<!-- Stay Tunned -->
<section class="section stay-tunned">
    <div class="container bring-to-front">
        <div class="shadow rounded p-5 bg-contrast overflow-hidden">
            <div class="section-heading text-center">
                <h2 class="heading-line">Stay tunned</h2>
                <p class="lead text-alternate">By registering with us you will receive right in your inbox all new features and updates</p>
            </div>

            <div class="mx-auto position-relative form-wrapper">
                <form action="srv/register.php" class="form text-center" data-response-message-animation="slide-in-left" novalidate>
                    <div class="form-group input--group">
                        <input id="subscribe-email" type="email" name="Subscribe[email]" class="form-control form-control-lg text-center" placeholder="Enter your email" required>
                    </div>

                    <button type="submit" class="btn btn-lg btn-alternate">Register</button>
                </form>

                <div class="response-message">
                    <i class="fas fa-envelope font-lg"></i>
                    <p class="font-md m-0">Check your email</p>
                    <p class="response">We sent you an email with a link to get started. You’ll be in your account in no time.</p>
                </div>
            </div>
        </div>
    </div>
</section>
