<nav id="doc-menu" class="nav doc-menu flex-column sticky">
    <a class="nav-link scrollto" href="#thanks-section">Thank you</a>
    <a class="nav-link scrollto" href="#quickstart-section">Quick Start</a>
    <a class="nav-link scrollto" href="#deploy-section">Deploy</a>
    <a class="nav-link scrollto" href="#credits-section">Credits</a>
</nav>