<section id="credits-section" class="doc-section">
    <h2 class="section-title">Credits</h2>
    <div class="section-block">
        <p>The following resources were used to create this template. We are much obligated to their developers.</p>
        <h3>Scripts</h3>
        <ul class="list">
            <li><a href="https://www.getbootstrap.com" target="_blank">Bootstrap 4</a>. The world’s most popular front-end component library.</li>
            <li><a href="https://reactjs.org" target="_blank">React</a>. A JavaScript library for building user interfaces.</li>
            <li><a href="https://reactstrap.github.io">Reactstrap</a>. Easy to use React Bootstrap 4 components.</li>
            <li><a href="https://facebook.github.io/create-react-app">Create React App</a>. Set up a modern web app by running one command.</li>
        </ul>

        <h3>Images</h3>
        <p>Any Images or logos used in previews are not included in this item or final purchase and you need to contact authors to get permission in case you want to use them in your commercial or non-commercial projects.</p>
        <p>For some of them we are allowed to make reference, in case you wanted to use them in your design.</p>
        <ul class="list">
            <li><a href="https://pixabay.com" target="_blank">Pixabay</a> for the images you see across sections.</li>
            <li><a href="https://svgporn.com" target="_blank">SVGPorn</a> for the logos.</li>
        </ul>
    </div>
</section>