<section id="deploy-section" class="doc-section">
    <h2 class="section-title">Deploy to Production</h2>
    <div class="section-block">
        <p>We haven't include any specific configuration <i>- at this time -</i> for deploying the project to any cloud service.</p>
        <p>If you wish to do it you will need to create appropriate configuration for your specifics needs, following are some tutorials on how to proceed for whatever your case is</p>

        <ul class="list list-code">
            <li><a href="https://medium.com/@julienrioux/deploy-react-js-app-on-firebase-c7fa6ddc153f" target="_blank">Deploy React.js app on Firebase</a></li>
            <li><a href="https://blog.heroku.com/deploying-react-with-zero-configuration" target="_blank">Deploying React with Zero Configuration (Heroku)</a></li>
            <li><a href="https://medium.com/@wolovim/deploying-create-react-app-to-s3-or-cloudfront-48dae4ce0af" target="_blank">Deploying create-react-app to S3 and CloudFront</a></li>
        </ul>
    </div>
</section>
