<section id="quickstart-section" class="doc-section">
    <h2 class="section-title">Quick Start</h2>
    <div class="section-block">
        <p>Laapp has all necessary assets to start with your local development immediately.</p>
        <p>Perform the following steps to start your journey:</p>

        <ul class="list">
            <li><code>npm install</code></li>
            <li><code>npm start</code></li>
            <li>Navigate to <a href="https://localhost:300" target="_blank">https://localhost:300</a>. After you run <code>npm start</code> your browser should open a new tab though.</li>
        </ul>

        {% set callout = { type: "warning", title: "Remember", description: 'Please remember to have installed <a href="https://nodejs.org" target="_blank">NodeJs</a> before start with your development.' } %}
        {% include "~docs/_callout.njk" %}
    </div>
</section>