<section id="thanks-section" class="doc-section">
    <h2 class="section-title">Thank you for purchasing our template</h2>
    <div class="section-block">
        <p><span class="bold">Laapp</span> is a Bootstrap 4.x HTML Template ready to showcase your <span class="bold">SaaS, Startup and Software</span> solution. The download includes the complete source files including HTML, CSS, and JavaScript as well as SCSS stylesheets for easy customization.</p>
        <p>If you have any questions that are beyond the scope of this help file, please feel free to write direct to <a href="mailto(support@5studios.net)">support@5studios.net</a>, please include your purchase code in order for us to verify you. <b>Thank you so much !!!</b></p>

        <p><a href="https://themeforest.net/user/5studiosnet/portfolio" target="_blank">Here</a> are some other templates you will probably like.</p>
    </div>
</section>
