<!-- Alternative 1 Heading -->
<header class="header alter1-header section text-contrast">
    <div class="shapes-container">
        {% set shapes = [
            { aos: "fade-down-left", duration: "1500", delay: "100" },
            { aos: "fade-down", duration: "1000", delay: "100" },
            { aos: "fade-up-right", duration: "1000", delay: "200" },
            { aos: "fade-up", duration: "1000", delay: "200" },
            { aos: "fade-down-left", duration: "1000", delay: "100" },
            { aos: "fade-down-left", duration: "1000", delay: "100" },
            { aos: "zoom-in", duration: "1000", delay: "300" },
            { aos: "fade-down-right", duration: "500", delay: "200" },
            { aos: "fade-down-right", duration: "500", delay: "100" },
            { aos: "zoom-out", duration: "2000", delay: "500" },
            { aos: "fade-up-right", duration: "500", delay: "200" },
            { aos: "fade-down-left", duration: "500", delay: "100" },
            { aos: "fade-up", duration: "500", delay: "0" },
            { aos: "fade-down", duration: "500", delay: "0" },
            { aos: "fade-up-right", duration: "500", delay: "100" },
            { aos: "fade-down-left", duration: "500", delay: "0" }
        ] %}
        {% for shape in shapes %}
            <div class="shape shape-animated" data-aos="{{ shape.aos }}" data-aos-duration="{{ shape.duration }}" data-aos-delay="{{ shape.delay }}"></div>
        {% endfor %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <span class="rounded-pill shadow-box bg-contrast text-dark bold py-2 px-4">
                    <i class="far fa-lightbulb text-primary mr-2"></i>
                    <span class="text-primary">Awesome</span> Landing Page
                </span>
                <h1 class="text-contrast display-4 display-md-3"><span class="bold">{{ app.name }}</span></h1>
                <p class="lead bold">Premium Startup & App Landing Page</p>

                <p class="lead">Besides its beautiful design. {{ app.name }} is an incredibly rich core framework for you to showcase your App.</p>

                <nav class="nav my-5">
                    <a href="#!" class="btn btn-rounded btn-alternate mr-2 mr-md-5">Buy now <i class="fas fa-long-arrow-alt-right ml-2"></i></a>
                    <a href="#demos" class="btn btn-rounded btn-contrast scrollto">Explore demos</a>
                </nav>
            </div>

            <div class="col-md-6">
                <div class="iphone front mx-auto">
                    <div class="screen shadow-box">
                        <img src="./public/img/screens/app/9.png" alt="...">
                    </div>
                    <div class="notch"></div>
                </div>
            </div>
        </div>
    </div>
</header>
