<!-- Contact Channels -->
<section class="section {{ section.class }}">
    <div class="container bring-to-front">
        <div class="row gap-y">
            <div class="col-md-6">
                <div class="rounded media bg-contrast shadow-lg p-4">
                    <div class="icon-shape mr-4">
                        <i class="pe pe-7s-cash pe-3x"></i>
                    </div>

                    <div class="media-body">
                        <h4 class="text-primary">Contact Sales</h4>
                        <a href="mailto:support@5studios.net" class="more-link d-flex align-items-center mt-0">sales@5studios.net</a>

                        <p class="mt-4">Looking for a custom quote? Need to tell us more about your project? Want a demonstration? Drop us a line</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="rounded media bg-contrast shadow-lg p-4">
                    <div class="icon-shape mr-4">
                        <i class="pe pe-7s-help2 pe-3x"></i>
                    </div>

                    <div class="media-body">
                        <h4 class="text-primary">Technical Support</h4>
                        <a href="mailto:support@5studios.net" class="more-link d-flex align-items-center mt-0">support@5studios.net</a>

                        <p class="mt-4">Any question about how to integrate your product?. Don't fret, our geek team is ready for you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>