<!-- Integrations -->
<section class="section integration-bubbles">
    <div class="container overflow-hidden">
        <div class="row">
            <div class="col-md-6">
                <div class="bubbles-wrapper">
                    <div class="animations m-0">
                        {% set bubbles = [
                            { icon: "apx", name: "Autoprefixer" },
                            { icon: "bs", name: "Bootstrap" },
                            { icon: "cordova", name: "Cordova" },
                            { icon: "css", name: "CSS" },
                            { icon: "fa", name: "Fontawesome" },
                            { icon: "html", name: "HTML" },
                            { icon: "js", name: "Javascript" },
                            { icon: "npm", name: "Npm" },

                            { icon: "sass", name: "SASS" },
                            { icon: "apx", name: "Autoprefixer" },
                            { icon: "bs", name: "Bootstrap" },
                            { icon: "cordova", name: "Cordova" },
                            { icon: "css", name: "CSS" },
                            { icon: "fa", name: "Fontawesome" },
                            { icon: "html", name: "HTML" },
                            { icon: "js", name: "Javascript" }
                        ] %}
                        {% for bubble in bubbles %}
                            <div class="bubble bg-contrast rounded-circle p-2 shadow icon icon-{{ "xl" if loop.index % 4 == 0 else ("lg" if loop.index % 3 == 0 else ("md" if loop.index % 2 else "xxl")) }}">
                                <img src="./public/img/demo/header/{{ bubble.icon }}.svg" alt="" class="img-responsive" >
                                <span class="badge badge-contrast shadow-box">{{ bubble.name }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="section-heading">
                    <p class="text-alternate text-uppercase bold">Extending core</p>
                    <h2 class="heading-line">Integrations to make it better</h2>
                    <p class="lead text-muted">
                        Ever wonder about the wonder of Laap: We count on hundreds of friends contributing day by day to make Laapp a wonderful tool
                    </p>
                </div>

                <a href="#!" class="more-link">Explore all integration</a>
            </div>
        </div>
    </div>
</section>